<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>安装{:C('INSTALL_PRODUCT_NAME')}－{$meta_title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.min.css">
    <script type="text/javascript" src="__PUBLIC__/libs/jquery/1.x/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="__LYUI__/js/lyui.min.js"></script>
    <block name="script"></block>
</head>
<body style="background-color: #f6f6f6;">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">导航开关</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" target="_blank" href="__ROOT__/">{:C('INSTALL_PRODUCT_NAME')}</a>
            </div>
            <div class="collapse navbar-collapse nav-collapse">
                <ul class="nav navbar-nav" id="step">
                    <block name="header"></block>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{:C('INSTALL_WEBSITE_DOMAIN')}" target="_blank">官网</a></li>
                    <li><a href="{:C('INSTALL_WEBSITE_DOMAIN')}" target="_blank">授权</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <block name="main"></block>
        </div>
    </div>
</body>
</html>
